.center-contents {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.center-contents h2 {
  width: 100%;
}

.center-contents p {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.offer-fields {
  width: 100%;
  margin: 5px 0;
  border: none;
  text-align: center;
  height: 25px;
}

.offer-button {
  margin-top: 10px;
}

select {
  height: 30px;
  text-align: center;
}

form {
  width: 45%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  font-size: 18px;
  background-color: #ccc;
  flex-direction: column;
}

#message-container {
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

textarea {
  width: 98%;
  height: 100px;
  border: none;
  text-align: center;
}
